.film-page {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  top: 147px;
  left: 40px;
  right: 40px;

  &--left-content {
    margin-right: 40px;
    top: 147px;
    left: 0
  }

  &--slider-box {
    display: flex;
    align-items: center;
  }

  &--about-title {
    font-size: 24px;
    color: #ff6800;
  }

  &--about-text {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
  }

  &--slider-box-item {

    min-width: 200px;
    width: 14.641288433382138vw;
    max-width: 500px;

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &--right-content {
    position: relative;
  }
}
