.film-page {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;

  &--left-content {
    margin-right: 40px;
  }

  &--slider-box {
    display: flex;
    align-items: center;
  }

  &--about-title {
    font-size: 24px;
    color: #ff6800;
  }

  &--about-text {
    font-size: 18px;
    color: #fff;
    font-weight: 300;
  }

  &--slider-box-item {

    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  &--right-content {
    position: relative;
  }
}